*{
	font-family:Times New Roman;
}
#underline{
	text-decoration: underline;
}
.right{
	color:#008000;
	text-align: center;
}
.red{
	color:#FF0000;
}
.blue{
	color:#0000FF;
}
.yellow{
	color:#FFD700;
}
.gray{
	color:#808080;
}
.lblue{
	color:#87CEEB;
}