*{
	font-style: italic;
	
}

td{
	padding: 10px;
	padding-right: 20px;
	font-size: 17;
}
th{
	padding: 10px;
	padding-right: 20px;
	color: darkred;
	font-size: 19;
}
h1{
	color: blue;
	padding-left:125px;
}
[class^="info"]{
	color: red;
}
[class $="left"]{
	text-align: left;
}
[class $="right"]{
	text-align: right;
}
[class $="center"]{
	text-align: center;
}
header{
	background-color: #f9ff96;
}
main{
	background-color: #cff4fc;
}
b{
	color:darkred;
}